body {
    background: #f1f1f1;
}

.img-height {
    height: 450px;
}

.bg-black {
    background-color: #000;
}

.pagination {
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.pagination li {
    text-indent: 1.25rem;
    font-size: 1.5rem;
    display: list-item;
}

.pagination a {
    color: black;
    text-decoration: none;

}

.pagination a:hover{
    background-color: black;
    color: white;
}

.bg-orange
{
    color: #e7662a !important; 
}

.cat-dropdown
{
    background-color: #e7662a;
    color: rgb(5, 5, 5);
}








* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}
img {
    max-width: 100%;
}

.card {
    position: relative;
    background: #e7662a;
    width: 280px;
    height: 450px;
    border-radius: 6px;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.card__image-container {
    height: 400px;
    width: 300px;
}
.card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}
.card__image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1.4s forwards;
    width: 350px;
    height: 400px;
}
.card__title {
    color: white;
    margin-top: 0;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 800px;
    letter-spacing: 0.01em;
}
.card__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
}
.card__svg {
    color: white;
    position: absolute;
    left: 0;
    top: 250px;
}
@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
   }
    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #888bff;
   }
    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #545581;
   }
}
@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
@keyframes ImageFadeIn {
    0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
   }
    50% {
        opacity: 1;
        filter: blur(2px);
   }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
   }
}
