body {
    background: #f1f1f1;
}

.img-height {
    height: 450px;
}

.bg-black {
    background-color: #000;
}

.pagination {
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.pagination li {
    text-indent: 1.25rem;
    font-size: 1.5rem;
    display: list-item;
}

.pagination a {
    color: black;
    text-decoration: none;

}

.pagination a:hover{
    background-color: black;
    color: white;
}

.bg-orange
{
    color: #e7662a !important; 
}