.bg-turquoise {
    background-color: #099ca7;
}
.bg-black {
    background-color: #0f0f0f;
}

.color-orange
{
    font-size:20px !important;
    color: #252525 !important;
    font-weight: bold !important;
}

li a
{
    color: #ECEBEB !important;
}

.header-radius
{
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
}

#logOut:hover
{
    background-color: white;
    color: black;
}

#logOut
{
    color: white;
}

#search:hover
{
    background-color: #e7662a;
    color: #0f0f0f;
}