body {
    background-color: #e7662a;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.img-height {
    height: 400px;
}

#movieName, #movieName:hover, #movieName:visited {
    color: black;
    text-decoration: none;
}

.pagination {
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.pagination li {
    text-indent: 1.25rem;
    font-size: 1.5rem;
    display: list-item;
}

.pagination a {
    color: black;
    text-decoration: none;

}

.pagination a:hover{
    background-color: black;
    color: white;
}