body {

  background: url("../celalabem.jpg");
 

    /*background-image: linear-gradient(#FCF0C8, #fff);*/
}
.border-rounded {
    
    background-color: #e7662a;
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 6px  #000;
}

.img-height {
    height: 280px;
}

.card-text-white {
    color: #F5F5F5;
}

.card-star-color {
    color: gold;
}

.card-body-height{
    border-radius: 0px 0px 25px 25px;
    background-color: #e6662b;
    min-height:120px;
    position:relative;
}

.card-like-button{
    position:absolute;
    bottom:5px;
    width:90%;
}

.pagination {
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.container-color{
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
 
}


.pagination li {
    text-indent: 1.25rem;
    font-size: 1.5rem;
    display: list-item;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination a:hover{
    background-color: black;
    color: white;
}

.bg-black {
    background-color: black;
}

.movie-card-bg{
    background-color: #1B1717;
}

