body {
    background: linear-gradient(to top left, #feb236, #f7786b);
}
.border-rounded {
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
}

.img-height {
    height: 400px;
}